/*----------个人中心bar---------*/
.header-ts .ts-play{width: 1050px}
.header-logo .logo-play{width: 1000px;}
.header-bar .bar-play{width: 1000px}
.logo-r{font-size: 12px;margin-top: 20px;}
.login-name{color: #ea6810;}
.money{/*width: 120px;*/height: 25px;box-sizing: border-box;border: 1px dashed #ddd;text-align: center;margin-top: -3px;line-height: 25px;color: #ea6810;padding: 0 3px;}
.money img{vertical-align: middle;margin: -2px 0 0 5px}
.pc-bar{margin-left: 5px}
.pc-bar span{margin: 0 5px}
.pc-bar a:hover{color: red}
/*login*/
.foot-box .foot-play{width: 1050px}
.big-box .foot-box {padding: 0}
.big-box .foot-play {border: 0 none}
.select-list {border-top: none}
.select-list .is {border: none;}
.id-sel-all .on{border-top: none;border-right: none;border-bottom: none;border-left: 1px solid #fff}
.select-all{}

.bar-play {width: 1050px;margin: auto;}.ts-play{ width:1000px;}.logo-play{ width:1000px;}
.ui-dialog-main{background:#fff;border-radius:8px;}
.ui-dialog .ui-dialog-boxtab{padding:20px 0 0 0;}
.ui-dialog-foot{background:none !important;}
.agreement{height:400px;overflow-y:auto;padding:5px}
.agreement p,.agreement h4{font-size:14px;line-height:22px;}
.agreement p{text-justify:inter-ideograph;text-align:justify;padding-left:29px;text-indent:-29px;margin-bottom:8px;}
.agreement h4{font-weight:bold;padding:12px 0 8px 0;}
.agreement h3{font-size: 20px;font-weight: bold;text-align: center;padding: 20px}
.agreement2{padding:20px 5px  0px 5px}
.agreement2 input[type='button']{width:90px;padding:0 5px;line-height:25px;background-color:#e4393c;color:#fff;border:1px solid #e4393c;}
.agreement2 input[type='checkbox']{cursor:pointer;}
/*login弹窗*/
.layerbox01{width: 100%; height: 100%; overflow:hidden;display: block;}
.layerbox01 a{width: 100%;}
.layerbox01 img{width: 100%;height:100%;}
